{% extends 'base.html' %}

{% block content %}

<div class="d-flex flex-column flex-md-row align-items-center justify-content-between my-4 px-3">
  <img src="{{ url_for('static', filename='css/images/dgr.png') }}" alt="Left Logo" class="img-fluid" style="max-height: 80px;">
  <h1 class="text-center flex-grow-1 mx-md-3 my-3 my-md-0 fs-4 fs-md-1">
    Students Leave Management System
  </h1>
  <img src="{{ url_for('static', filename='css/images/nielit.png') }}" alt="Right Logo" class="img-fluid" style="max-height: 80px;">
</div>

<div class="text-center mt-3 px-3">
  <p class="lead">NIELIT O Level Course – Module 3</p>
  
 

  <div class="mt-4">
    <h4 class="text-decoration-underline">Under the Guidance of</h4>
    <p><strong>Course Coordinator:</strong> Mr. Harihar Dash </p>
    <p><strong>Mentor & Class Teacher: </strong> Ms. Ashmita Ghatani</p>
    
  </div>

  <hr class="my-4" />

  <div>
    <h4 class="text-decoration">Project Members</h4>
    <ul class="list-group list-group-flush w-75 w-md-50 mx-auto">
      <li class="list-group-item">Sgt Addagiri Subbarao (Reg : 1756483)</li>
      <li class="list-group-item">Sgt Khadar Baji Shaik (Reg : 1756472)</li>
      <li class="list-group-item">Sgt Kota Srinivas (Reg : 1756488)</li>
    </ul>
  </div>

   <div class="mt-4">
    
    <p>National Institute of Electronics & Information Technology (NIELIT)</p>
    <p>3rd Floor, North side, OCAC Tower, Doordarshan Colony, Acharya Vihar, Bhubaneswar, Odisha 751013</p>
  </div>
</div>

{% endblock %}
