{% extends "base.html" %}
{% block title %}Instructions - Students Leave Management System{% endblock %}

{% block content %}
<div class="container my-5">
  <h2 class="mb-4">Instructions</h2>
  <hr>

  <h4 class="mt-4">For Students:</h4>
  <ul class="list-group list-group-flush mb-4">
    <li class="list-group-item">Register yourself by providing correct details on the Registration page.</li>
    <li class="list-group-item">Login using your registered Email ID, Password.</li>
    <li class="list-group-item">Fill out the Leave Application form to apply for leave.</li>
    <li class="list-group-item">You can view your leave history and check the status of your applications.</li>
    <li class="list-group-item">Make sure to logout after your session for security.</li>
  </ul>

  <h4 class="mt-4">For Faculty:</h4>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Register yourself by providing correct details on the Registration page (Faculty role will be assigned by Admin).</li>
    <li class="list-group-item">Login using your registered Email ID and Password, selecting your role as Faculty.</li>
    <li class="list-group-item">View all pending leave applications submitted by students for your approval.</li>
    <li class="list-group-item">While approving, you can also view the leave history of the student.</li>
    <li class="list-group-item">Approve or reject leave applications based on your discretion.</li>
    <li class="list-group-item">Remember to logout after completing your tasks.</li>
  </ul>
</div>
{% endblock %}
