{% extends 'base.html' %}
{% block content %}
<h2>Login</h2>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }} mt-2" role="alert">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}

<form method="POST">
    <div class="mb-3">
        <label>Email</label>
        <input type="email" name="email" class="form-control" required>
    </div>
    <div class="mb-3">
        <label>Password</label>
        <input type="password" name="password" class="form-control" required>
    </div>

    <div class="mb-3">
        <label>Role</label>
        <select name="role" class="form-select" required>
            <option value="Student">Student</option>
            <option value="Faculty">Faculty</option>
        </select>
    </div>
    <button type="submit" class="btn btn-success">Login</button>
</form>
{% endblock %}
